.header
{  display: grid;
  grid-template-columns: 1fr repeat(2, max-content);
  padding: .3rem;
  grid-gap: .3rem;
  align-items: end;
  justify-self: stretch}

.dropdown {
    position: relative;
    display: grid
}